.search-wrapper .search-handoff-button {
  --newtab-background-color-secondary: rgba(200 200 200 / 0.1);
  outline: 1px solid rgba(255 255 255 / 0.1);
  box-shadow: none !important;
}
.search-wrapper.fake-focus:not(.search.disabled) .search-handoff-button {
  outline: 2px solid rgba(255 255 255 / 0.2);
  border-color: transparent !important;
}
