[core]
	# pager = cat
[user]
	email = snosme@gmail.com
	name = Alexander Drozdov
[pull]
	rebase = true
[rebase]
	autostash = true
[core]
	filemode = false
	# editor = edit
	autocrlf = false
[alias]
	sclone = clone --filter=blob:none
[blame]
	ignoreRevsFile = .git-blame-ignore-revs
